<% content_for :title, 'Dashboard' %>

<%=  render 'static_pages/preloader' %>
<div class="page">
    <!-- Header-->
    <%= render 'static_pages/header' %>

    <!-- Parallax Header -->
    <%= render 'static_pages/parallax_header', background_image: 'images/bg-blog.jpg', title: 'Dashboard' %>

    <section class="section section-xxl bg-default">
    <div class="container">
        <div class="row row-30">
            <div class="col-lg-6">
                <h2>Events</h2>
                <a href="<%= add_event_url %>" class="button button-lg button-primary button-zakaria mb-5">Add Event</a>
                <% @events.each do |event| %>
                    <p><a href="<%= edit_event_url(id: event._id) %>"><%= event.name %></a></p>
                <% end %>
            </div>
            <div class="col-lg-6">
                <h2>Products</h2>
                <% @products.each do |product| %>
                    <p><a href="#"><%= product.name %></a></p>
                <% end %>
            </div>
        </div>
    </div>
    </section>

    <!-- Footer -->
    <%= render 'static_pages/footer' %>
</div>
<div class="snackbars" id="form-output-global"></div>