<section class="section section-xxl bg-gray-1">
    <div class="container">
        <h2 class="wow fadeScale">Discography</h2>
        <div class="row row-30">
            <% discography.each do |disc| %>
                <div class="col-sm-6 col-lg-4">
                    <!-- Thumbnail Classic-->
                    <article class="thumbnail-classic">
                    <div class="thumbnail-classic-figure"><img src="<%= disc.image %>" alt="" width="370" height="315"/>
                    </div>
                    <div class="thumbnail-classic-caption">
                        <div>
                        <h5 class="thumbnail-classic-title"><a href="#"><%= disc.name %></a></h5>
                        <div class="thumbnail-classic-price"><%= disc.year %></div>
                        <div class="thumbnail-classic-button-wrap">
                            <div class="thumbnail-classic-button"><a class="button button-white" href="<%= disc.googlePlay %>"><span class="mdi mdi-google-play"></span></a></div>
                            <div class="thumbnail-classic-button"><a class="button button-white" href="<%= disc.itunes %>"><span class="mdi mdi-apple"></span></a></div>
                        </div>
                        </div>
                    </div>
                    </article>
                </div>
            <% end %>
        </div>
    </div>
</section>