<header class="section page-header header-creative-wrap context-dark">
    <!-- RD Navbar-->
    <div class="rd-navbar-wrap">
        <nav class="rd-navbar rd-navbar-creative rd-navbar-logo-mobile" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-fixed" data-lg-device-layout="rd-navbar-fixed" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-xxl-layout="rd-navbar-static" data-xxl-device-layout="rd-navbar-static" data-lg-stick-up-offset="100px" data-xl-stick-up-offset="112px" data-xxl-stick-up-offset="132px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
        <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
        <div class="rd-navbar-aside-outer">
            <div class="rd-navbar-aside">
            <div class="rd-navbar-collapse">
                <ul class="contacts-classic">
                <li><span class="contacts-classic-title">Follow me</span></li>
                <li>
                    <ul class="list-inline">
                    <li class="list-inline-item"><a class="icon mdi mdi-facebook" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon mdi mdi-twitter" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon mdi mdi-instagram" href="#"></a></li>
                    <li class="list-inline-item"><a class="icon mdi mdi-youtube-play" href="#"></a></li>
                    </ul>
                </li>
                </ul><a class="rd-navbar-basket rd-navbar-basket-mobile fl-bigmug-line-shopping202" href="cart-page.html"><span>2</span></a>
            </div>
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
                <!-- RD Navbar Toggle-->
                <button class="rd-navbar-toggle" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                <!-- RD Navbar Brand-->
                <div class="rd-navbar-brand"><a class="brand" href="index.html"><img class="brand-logo-dark" src="images/logo-default-220x20.png" alt="" width="220" height="20" srcset="images/logo-default-439x39.png 2x"/><img class="brand-logo-light" src="images/logo-inverse-298x27.png" alt="" width="298" height="27" srcset="images/logo-inverse-595x53.png 2x"/></a>
                </div>
            </div>
            <div class="rd-navbar-aside-element">
                <% if false %>
                    <!-- RD Navbar Search-->
                    <div class="rd-navbar-search rd-navbar-search-2">
                    <button class="rd-navbar-search-toggle rd-navbar-fixed-element-2" data-rd-navbar-toggle=".rd-navbar-search"><span></span></button>
                    <form class="rd-search" action="search-results.html" data-search-live="rd-search-results-live" method="GET">
                        <div class="form-wrap">
                        <label class="form-label" for="rd-navbar-search-form-input">Search...</label>
                        <input class="rd-navbar-search-form-input form-input" id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off"/>
                        <div class="rd-search-results-live" id="rd-search-results-live"></div>
                        <button class="rd-search-form-submit fl-bigmug-line-search74" type="submit"></button>
                        </div>
                    </form>
                    </div>
                <% end %>
                <!-- RD Navbar Basket-->
                <div class="rd-navbar-basket-wrap">
                <a href="<%= cart_url %>" style="color: #fff">
                    <% if false %><button class="rd-navbar-basket fl-bigmug-line-shopping202" data-rd-navbar-toggle=".cart-inline"><span></span></button> %><% end %>
                    <button class="rd-navbar-basket fl-bigmug-line-shopping202"><span></span></button>
                </a>
                    <% if false %>
                        <div class="cart-inline">
                            <div class="cart-inline-header">
                            <h5 class="cart-inline-title">In cart:<span> 2</span> Products</h5>
                            <h6 class="cart-inline-title">Total price:<span> $41</span></h6>
                            </div>
                            <div class="cart-inline-body">
                            <div class="cart-inline-item">
                                <div class="unit unit-spacing-sm align-items-center">
                                <div class="unit-left"><a class="cart-inline-figure" href="single-product.html"><img src="images/product-mini-2-106x104.jpg" alt="" width="106" height="104"/></a></div>
                                <div class="unit-body">
                                    <h6 class="cart-inline-name"><a href="single-product.html">Stay Wild T-Shirt</a></h6>
                                    <div>
                                    <div class="group-xs group-middle">
                                        <div class="table-cart-stepper">
                                        <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000"/>
                                        </div>
                                        <h6 class="cart-inline-title">$18.00</h6>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            <div class="cart-inline-item">
                                <div class="unit unit-spacing-sm align-items-center">
                                <div class="unit-left"><a class="cart-inline-figure" href="single-product.html"><img src="images/product-mini-1-106x104.jpg" alt="" width="106" height="104"/></a></div>
                                <div class="unit-body">
                                    <h6 class="cart-inline-name"><a href="single-product.html">Bandico Baseball Hat</a></h6>
                                    <div>
                                    <div class="group-xs group-middle">
                                        <div class="table-cart-stepper">
                                        <input class="form-input" type="number" data-zeros="true" value="1" min="1" max="1000"/>
                                        </div>
                                        <h6 class="cart-inline-title">$23.00</h6>
                                    </div>
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
                            <div class="cart-inline-footer">
                            <div class="group-sm"><a class="button button-default-outline-2 button-zakaria" href="cart-page.html">Go to cart</a><a class="button button-primary button-zakaria" href="checkout.html">Checkout</a></div>
                            </div>
                        </div>
                    <% end %>
                </div>
            </div>
            </div>
        </div>
        <div class="rd-navbar-main-outer">
            <div class="rd-navbar-main">
            <div class="rd-navbar-nav-wrap">
                <!-- RD Navbar Nav-->
                <ul class="rd-navbar-nav">
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="<%= root_url %>">Home</a></li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="<%= shop_url %>">Shop</a></li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="<%= blog_url %>">Blog</a></li>
                    <li class="rd-nav-item active"><a class="rd-nav-link" href="<%= contact_url %>">Contact</a></li>
                </ul>
            </div>
            </div>
        </div>
        </nav>
    </div>
</header>