<section class="section section-xl bg-default">
    <div class="container">
        <div class="row row-30">
            <% posts.each do |post| %>
                <div class="col-sm-6 col-lg-4">
                    <!-- Post Classic-->
                    <article class="post post-classic box-md"><a class="post-classic-figure" href="<%= blog_post_url(id: post._id) %>"><img src="<%= post.image %>" alt="" width="370" height="239"/></a>
                    <div class="post-classic-content">
                        <div class="post-classic-time">
                        <time datetime="<%= post.date %>"><%= post.date %></time>
                        </div>
                        <h5 class="post-classic-title"><a href="<%= blog_post_url(id: post._id) %>"><%= post.title %></a></h5>
                        <p class="post-classic-text"><%= post.excerpt %></p>
                    </div>
                    </article>
                </div>
            <% end %>
        </div>
        <% if false %>
        <div class="pagination-wrap">
        <!-- Bootstrap Pagination-->
        <nav aria-label="Page navigation">
            <ul class="pagination">
            <li class="page-item page-item-control disabled"><a class="page-link" href="#" aria-label="Previous"><span class="icon" aria-hidden="true"></span></a></li>
            <li class="page-item active"><span class="page-link">1</span></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item page-item-control"><a class="page-link" href="#" aria-label="Next"><span class="icon" aria-hidden="true"></span></a></li>
            </ul>
        </nav>
        </div>
        <% end %>
    </div>
</section>