<% content_for :title, @post.title %>

<%=  render 'preloader' %>
<div class="page">
    <!-- Header-->
    <%= render 'header' %>

    <!-- Parallax Header -->
    <%= render 'parallax_header', background_image: 'images/bg-blog.jpg', title: @post.title %>

    <!- Post Content -->
    <%= render 'post_content', post: @post, posts: @posts %>

    <!-- Footer -->
    <%= render 'footer' %>
</div>
<div class="snackbars" id="form-output-global"></div>