<% content_for :title, 'Cart' %>

<%=  render 'preloader' %>
<div class="page">
      
    <!-- Header-->
    <%= render 'header' %>

    <!-- Parallax Header -->
    <%= render 'parallax_header', background_image: 'images/bg-blog.jpg', title: 'Cart' %>

    <!-- Shopping Cart -->
    <%= render 'shopping_cart', products: @cart.products, cart_page: true %>

    <!-- Footer -->
    <%= render 'footer' %>
</div>
<div class="snackbars" id="form-output-global"></div>

<% content_for :javascript_includes do %>
  <% javascript_include_tag "/javascripts/cart.js", defer: true %>
<% end %>