<% content_for :title, 'Checkout' %>

<script src="https://js.stripe.com/v3/" defer></script>

<%=  render 'preloader' %>
<div class="page">
    <!-- Header-->
    <%= render 'header' %>

    <!-- Parallax Header -->
    <%= render 'parallax_header', background_image: 'images/bg-blog.jpg', title: 'Checkout' %>

    <!-- Shopping Cart -->
    <%= render 'shopping_cart', products: @cart.products, cart_page: false %>

    <!-- Checkout Form -->
    <%= render 'checkout_form' %>

    <!-- Footer -->
    <%= render 'footer' %>
</div>
<div class="snackbars" id="form-output-global"></div>

# <script src="/javascripts/stripe.js" defer></script>
<script src="/javascripts/checkout.js" defer></script>
<script src="/javascripts/cart.js" defer></script>