<% content_for :javascript_includes do %>
    <% javascript_include_tag "/javascripts/eb_widgets.js" %>
<% end %>

<%=  render 'preloader' %>
<div class="page">
    <!-- Header-->
    <%= render 'header' %>

    <!-- Parallax Container -->
    <%= render 'parallax_container', url: 'images/bg-image-1.jpg' %>

    <!-- Featured Recordings -->
    <%= render 'featured_recordings' %>

    <!-- About Us -->
    <%= render 'about_us' %>

    <!-- Discography -->
    <%= render 'discography', discography: @discography %>

    <!-- Upcoming Event -->
    <%= render 'upcoming_event', event: @events.first %>

    <!-- Tour Gallery -->
    <%= render 'tour_gallery' %>

    <!-- Featured Events -->
    <%= render 'featured_events', events: @events %>

    <!-- Newsletter -->
    <%= render 'newsletter' %>

    <!-- Instagram -->
    <%= render 'instagram' %>

    <!-- Merch -->
    <%= render 'merch', products: @products %>

    <!-- Footer -->
    <%= render 'footer' %>
</div>
<div class="snackbars" id="form-output-global"></div>