<% content_for :title, 'Purchase Confirmation' %>

<%=  render 'preloader' %>
<div class="page">
    <!-- Header-->
    <%= render 'header' %>

    <!-- Parallax Header -->
    <%= render 'parallax_header', background_image: 'images/bg-blog.jpg', title: 'Purchase Confirmation' %>
    
    <section class="section section-xxl bg-gray-4 text-md-left">
        <div class="container">
            <h2>Thank you for your purchase</h2>
            <p style="margin-bottom: 30px">Order Id: <%= @order._id %>
            <h3>Products</h3>
            <% @order.products.each do |product| %>
                <%= product %>
                <p>Name: <%= product['name'] %></p>
                <p>Price: <%= product['price'] %></p>
                <p>quantity: <%= product['quantity'] %></p>
            <% end %>
            <p>Shipping Address: <%= @order.shipping_address['address'] %></p>
            <p>Total: <%= @order.total %></p>
        </div>
    </section>

    <!-- Footer -->
    <%= render 'footer' %>
</div>
<div class="snackbars" id="form-output-global"></div>
