<% content_for :title, 'Purchase Confirmation' %>

<%=  render 'preloader' %>
<div class="page">
    <!-- Header-->
    <%= render 'header' %>

    <!-- Parallax Header -->
    <%= render 'parallax_header', background_image: 'images/bg-blog.jpg', title: 'Purchase Confirmation' %>
    
    <section class="section section-xxl bg-gray-4 text-md-left">
        <div class="container">
            <h2>Thank you for your purchase</h2>
            <p style="margin-bottom: 30px">Order Id: <%= @order._id %>
            <h3 style="margin-bottom: 30px">Products</h3>
            <% @order.products.each do |product| %>
                <p><%= product %></p>
            <% end %>
            <h3 style="margin-bottom: 30px">Shipping Details</h3>
            <p><%= @order.shipping_address %></p>
            <h3 style="margin-bottom: 30px">Total</h3>
            <p><%= @order.total %></p>
        </div>
    </section>

    <!-- Footer -->
    <%= render 'footer' %>
</div>
<div class="snackbars" id="form-output-global"></div>
