<% content_for :title, 'Shop' %>

<%=  render 'preloader' %>
<div class="page">
    <!-- Header-->
    <%= render 'header' %>

    <!-- Parallax Header -->
    <%= render 'parallax_header', background_image: 'images/bg-blog.jpg', title: 'Shop' %>

    <hr>
    <!-- Shop Section -->
    <%= render 'shop_section', products: @products %>

    <!-- Footer -->
    <%= render 'footer' %>

</div>
<div class="snackbars" id="form-output-global"></div>