<p>Hi Nico, Somebody contacted you through your site.<p>

<p>Details:</p>

<p>First Name: <%= @fname %></p>

<p>Last Name: <%= @lname %></p>

<p>Email: <%= @email %></p>

<p>Phone: <%= @phone %></p>

<p>Message: <%= @message %></p>

<br>
<%= image_tag attachments['ohms-logo.png'].url %>